<?xml version="1.0" encoding="utf-8"?>
<!--
Copyright (c) ppy Pty Ltd <contact@ppy.sh>. Licensed under the MIT Licence.
See the LICENCE file in the repository root for full licence text.
-->
<configuration>
  <appSettings>
    <add key="GitHubUsername" value="BoomboxRapsody" />
    <add key="GitHubRepoName" value="ProjectYomi" />
    <add key="SolutionName" value="osu" />
    <add key="ProjectName" value="osu.Desktop" />
    <add key="NuSpecName" value="osu.Desktop\osu.nuspec" />
    <add key="IncrementVersion" value="true" />
    <add key="GitHubUpload" value="false" />
    <add key="PackageName" value="ProjectYomi" />
    <add key="IconName" value="lazer.ico" />
    <add key="GitHubAccessToken" value="" />
    <add key="CodeSigningCertificate" value="" />
	<add key="AndroidCodeSigningCertPath" value="project_yomi.keystore"/>
    <add key="ProjectNameAndroid" value="osu.Android" />
  </appSettings>
</configuration>